<div class="pl-pattern">
  <pre class="pl-snippet"><%= pattern.snippet %></pre>
  <div class="pl-snippet-styled">
    <%= pattern.snippet.html_safe %>
  </div>
  <div class="pl-actions">
    <% if pattern.usage.present? && !current_page?(pattern_path(pattern)) %>
      <%= link_to 'Usage details', pattern_path(pattern) %>
      <% if pattern.custom? %>
        |
      <% end %>
    <% end %>
    <% if pattern.custom? %>
      <%= link_to 'Edit Pattern', edit_pattern_path(pattern) %> |
      <%= form_for pattern, method: :delete do |f| %>
        <%= f.submit 'Delete Pattern' %>
      <% end %>
    <% end %>
  </div>
</div>
